<html>
        <head>
                <title>Simple Task Manager</title>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            
                <!-- Latest compiled and minified CSS -->
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
                    <!-- Optional theme -->
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
                    <!-- Latest compiled and minified JavaScript -->
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
                    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
              </head>
  <body>
      <div class="page-header  text-center">
          <h1>Example page header <small>Subtext for header</small></h1>
        </div>
    <div class="container">
        <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Add Communication </div>
            <div class="panel-body">
                <form  action="/AddComm" method="post">
                  <div class="form-group col-md-3 hidden">
                    <label for="country">Country :</label>
                    <input type="text" class="form-control" name="country" value="{{ cID }}">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="comm_in">comm_in:</label>
                    <input type="text" class="form-control" name="comm_in">
                  </div>
                  <div class="form-group col-md-3">
                          <label for="comm_out">comm_out:</label>
                          <input type="text" class="form-control" name="comm_out">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="comm_out">comm_out:</label>
                    <input type="date" class="form-control" name="date">
                  </div>
                  <div class="form-group col-md-3">
                    <br/>
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
                </form>
            </div>
          </div>
          </div>
          <div class="col-md-12">
          <div class="panel panel-primary">
              <div class="panel-heading">Comm List: </div>
              <div class="panel-body">
                  <table class="blueTable">
                      <thead>
                      <tr>
                      <th>Date</th>
                      <th>Sent</th>
                      <th>Recived</th>
                      </tr>
                      </thead>
                      <tfoot>
                      <tr>
                      <td colspan="4">
                      <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
                      </td>
                      </tr>
                      </tfoot>
                      <tbody>
                      {% for i in data %}
                      <tr>
                          <td> {{ i["date"] }}</td>
                          <td>{{ i["comm_in"] }}</td>
                          <td> {{ i["comm_out"] }}</td>
                          <!-- Short Description = {{ i["shortdesc"] }} <br>
                          Priority = {{ i["priority"] }}<br><br> -->
                      </tr>
                      {% endfor %} 
                     
                      </tbody>
                      </table>
                </div>
          </div>
        </div>
    </div>
    <br>
    <br>
    
    
     <style>
     table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
     </style>
  </body>
</html>
